.orderCount {
    font-size: 1rem;
    height: 5em;
    border-radius: 2px;
}

.orderCount p,
.orderCount button {
    font-size: 1.5em;
    width: 3em;
    text-align: center;
    color: var(--cDarkGray);
}

.orderCount p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderCount button {
    cursor: pointer;
    background-color: var(--cYellow);
    border: none;
}

.orderCount button.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.orderCount button.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}





.orderCount p {
    border-top: 1px solid var(--cGray);
    border-bottom: 1px solid var(--cGray);
}